name: My first Github Workflow
on: [push]
jobs:
  show-version:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: python -V
      - run: docker -v
      
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: pip install pylint
      - run: pylint app.py
  build-image:
    runs-on: ubuntu-latest
    steps: 
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: docker build --tag test-flask-app .
